* {
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}

#header {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: rgba(45, 40, 40, 0.564);
    position: fixed;
    top: 0;

}

.list1 {
    list-style: none;
    /* display: inline-block;
    justify-content: space-between; */
    margin-left: 40px;
    font-size: 2rem;
    color: rgb(223, 184, 151);
    transition: 0.5s;
    position: relative;
}

.list2 {
    display: flex;
    margin-right: 8%;

}

.listn {
    text-decoration: underline;
}
.list1 a{
    text-decoration: none;
    color:rgb(223, 184, 151); ;

}

.list1 a:hover {
    text-decoration: underline;

}

#home {
    background-image: url(./image/istockphoto-1221913991-612x612.jpg);
    min-height: 1000px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.container1 {
    background-color: rgb(90, 85, 85);
    width: 500px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;


    /* display: inline;
    justify-content: center; */
}

.container1 h1 {
    margin-bottom: 25px;
    font-size: 4rem;
    color: white;
}

.container1 span {
    color: rgb(223, 155, 37);
    font-size: 1.5rem;

}

.container2 {
    width: 500px;
    height: 250px;
    background-color: rgb(90, 85, 85);
    margin-top: 25px;


}

.container2 p {
    margin: 20px 20px;
    align-items: center;
    font-size: 1.5rem;

}

.container3 {
    background-color: rgb(90, 85, 85);
    margin-top: 25px;
    height: 50px;
    align-items: center;
    display: flex;
    font-size: 1.5rem;
    border-radius: 5px;
    padding: 2px 18px;
    transition: .5s;
}

.container3 span {
    margin-left: 10px;
}

.container3:hover {
    color: white;
}

#menu-container {
    background-image: url(./image/bg3.jpg);
    min-height: 1100px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.menu-main {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.menu {
    background-color: rgb(90, 85, 85);
    width: 500px;
    height: 800px;
    /* display: flex; */
    padding: 20px;
    margin-top: 50px;
    margin-right: 20px;
    border-radius: 20px;

}

.menu .menu-img {
    margin: 0px 20px;
}

.content {
    display: flex;
    margin: 25px;
    align-items: center;
    /* justify-content: space-between; */
    margin-right: 20px;

}

.heading {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;



}

.heading h1 {
    display: flex;
    align-items: center;
    height: 100%;
    width: 300px;
    background-color: beige;
    justify-content: center;
    border-radius: 5px;
    margin-top: 10px;

}
#about-caffe-1 {
    width: 100%;
    height: 100vh;
    display: flex;
}

#about-caffe {
    width: 100%;
    height: 100vh;
    display: flex;
}

.about-1 {
    background-image: url(./image/bg9.avif);
    height: 100vh;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat:no-repeat;
    background-size:cover;
}

.about-2 {
    background-image: url(./image/bg4.avif);
   height:100vh;
   width: 100%;
    background-attachment: fixed;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
}
.about{
    background-color:rgba(245, 237, 237, 0.826);
    width:70%;
    height: 400px;
   margin: 40px 0px 20px 50px;
   padding: 20px;
   border-radius: 20px;
    
}
.about h1{
    text-align: center;
    margin-bottom: 20px;
}
.about-3 span{
    display: flex;
    background-color: rgba(10, 153, 182, 0.738);
    width: 200px;
    margin-left: 50px;
    border-radius:20px ;
    justify-content: center;
}
.about-3 span i{
    margin-top: 5px;
}
.about-3 span h1{
    margin-right: 10px;
}
.contact-1{
    background-image: url(./image/bg10.avif);
    height: 100vh;
    width: 50%;
    background-attachment: fixed;
    background-position: center;
    background-repeat:no-repeat;
    background-size:cover;
}
.contact-2{
    background-image: url(./image/bg11.avif);
    height: 100vh;
    width: 50%;
    background-attachment: fixed;
    background-position: center;
    background-repeat:no-repeat;
    background-size:cover;
}
.contact{
    background-color: rgba(255, 255, 255, 0.821);
    width: 500px;
    height: 500px;
    padding: 50px;
    margin: 100px 0px 0px 200px;
    border-radius: 20px;
}
.contact h1{
    margin: 20px 0 20px 0;
}
.ct{
    color: rgb(17, 164, 164);
}
.contact p{
    font-size: 1.5rem;
    margin: 20px 0px 20px 0;
}
.contact div{
    background-color: rgb(3, 71, 71);
    display: flex;
    justify-content: center;
    height: 50px;
    align-items: center;
    width: 200px;
    border-radius: 20px;
    padding: 10px;
}
.contact i{
    font-size: 1.5rem;
    color: white;
    
}
.map{
    font-size: 1.5rem;
    color: white;
}
.contact div:hover{
    background-color: rgb(5, 104, 104) ;
}
.contact span{
    color:rgb(17, 164, 164) ;
}
.contact-dt{
    background-color: rgba(255, 255, 255, 0.821);
    width: 500px;
    height: 500px;
    padding: 50px;
    margin: 100px 0px 00px 100px;
    border-radius: 20px;
}
.contact-dt-1{
    background-color: rgba(43, 40, 40, 0.671);
    width: 500px;
    height: 500px;
    padding: 50px;
    margin: 100px 0px 00px 100px;
    border-radius: 20px;
}
.one{
    margin-bottom: 20px;
    background-color: rgba(43, 40, 40, 0) ;
    border: none;
    width: 80%;
    height: 50px;
    border-bottom: 2px solid rgb(179, 103, 40);
    font-size: 1.5rem;
}
.two{
    margin-bottom: 20px;
    background-color: rgba(43, 40, 40, 0) ;
    border: none;
    width: 80%;
    height: 50px;
    border-bottom: 2px solid rgb(179, 103, 40);
    font-size: 1.5rem;
}
.thre{
    margin-bottom: 40px;
    background-color: rgba(43, 40, 40, 0) ;
    border: none;
    width: 80%;
    height: 200px;
    border-bottom: 2px solid rgb(179, 103, 40);
    font-size: 1.5rem;
    padding-bottom: 100px;
    padding-top: 0;
}
.contact-dt-1 h1{
    text-align: end;
    margin-top: -40;
    color:  rgb(179, 103, 40);
}

